<p id="notice"><%= notice %></p>

<p>
  <strong>Candidate:</strong>
  <%= @attempt.candidate_id %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @attempt.answer_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @attempt.question_id %>
</p>

<p>
  <strong>Attempts:</strong>
  <%= @attempt.attempts %>
</p>

<%= link_to 'Edit', edit_attempt_path(@attempt) %> |
<%= link_to 'Back', attempts_path %>
