<%= form_for @test do |f| %>

  <div class="field">
    <%= f.label :test_name %>
    <%= f.text_field :test_name %>
  </div>

  <fieldset>
      <legend>Tasks:</legend>
      <%= f.fields_for :questions do |questions_form| %>
          <%= render "question_fields", f: questions_form %> 
      <% end %>
      <%= link_to_add_fields "Add Questions", f, :questions %>
  </fieldset>


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
