
<div>
  <%= @test.test_name %>
</div>

<div>
  <%= hidden_field :lab_id, value: @test.lab_id   %>
</div>

<div>
  <ol>
    <% @test.questions.each do |question| %>
      <li><%= question.question_text %></li>
        <% question.answers.each do |answer| %>
          <%= radio_button_tag("answer[#{question.id}]", answer.id) %>
          <%= label("answer_".concat(answer.id.to_s).to_sym, answer.answer_text) %><br>
        <% end %>
    <% end %>
  </ol>
</div>

 <div><%= submit_tag("Submit", :class => "submit") %></div>
<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %> 


